* {
	margin: 0;
	padding: 0;
}
body {
	background: #e8ebeb;
}
input [type="text"], input [type="search"]{
	
}
input, textarea {

	outline: none;
	border: none;
}
a {
	text-decoration-line: none;
}
a h4{
	color: #a19e9d;
	margin-left: 10px;
}
a button{
	height: 20px;
	width: 115px;
	background: #082bc7;
	color: white;
}
.header {
	margin: 0;
	background: #2c7a05;
	width: 550px;
	height: 80px;
	margin-left: 25%;
}
.menubar {
	position: absolute;
	margin-top: 2%;
	width: 900px;
	height: 46px;
	margin-left: 1%;
	font-size: 1.2em;
}
ul.menu {
	float: left;
}
ul.menu li {
	float: left;
	padding: 0 0 0 9px;
	list-style: none;
	margin: 1px 2px 0 0;
}
.menu select{
	background: 
}
ul.menu li a{
	color: yellow;
}
ul.menu li a:hover{
	color: #aeb002;
}
ul.menu li.selected a{
	
	}
.search {
	position: absolute;
	width: 30px;
	height: 30px;
	margin-left: 300px;	
}
.search1 {
	width: 30px;
	height: 30px;
	margin-left: 200px;
	margin-top: -70%;
}
.content {
	position: absolute;
	background: white;
	margin-top: 15px;
	width: 550px;
	height: 650px;
	margin-left: 25%;
	margin-top: 0;		
}
.content p{
	margin-left: 10px;
	margin-top: 10px;
}
.pesni {
	margin-left: 70px;
	width: 155px;
}
.music {
	margin-top: 20px;
	margin-left: 8%;
}
.musicf {
	margin-top: 10px;
	margin-left: 10px;
	height: 50px;
	width: 60px;
}
.round {
	border-radius: 10px;/* Радиус скругления */
    border: /* Параметры рамки */
    box-shadow /* Параметры тени */
    height= 60px;
    width: 60px;
}
.musicp {
	margin-top: -55px;
	margin-left: 80px;
}
.musicname {
	margin-top: -60px;
	margin-left: 35%;
	text-align: left;
}
.musicname p{
	color: black;
	width: 190px;
}

.down {
	height: 30px;
	width: 30px;
	margin-left: 250px;
	margin-top: -30px;
}
/*Content*/
.player img{
	margin-left: 20px;
	margin-top: 10px;
}
.player button{
	height: 30px;
	width: 100px;
	background: #38a602;
	border-radius: 50px;
	border-color: yellow;
}
.player p{
 	margin-left: 30px;
 	margin-top: 20px;
}
.player audio{
	margin-top: 20px;
	margin-left: 45px;
}
/*Css Mobile*/
@media only screen
and (min-device-width:360px)
and (max-device-width:568px){
	.header{
		width: 100%;
		margin-left: 0%;
		background: #2c7a05;
		height: 70px;
		margin: 0;
	}
	.content {
		height: 2100px;
		width: 100%;
		margin: 0;
		background: white;
	}
	.menubar {
		width: 100%;
		height: 100%;
	}
	.down {
		float: right;
	}
	.search {
		margin-left: 1%;
		display: none;
	}
	.button {
		margin-left: -55%;
		margin-top: 5%;
	}
	ul.menu {
		float: none;
		margin-top: -2%;
		margin-left: 0%;
		text-align: center;
	}
	ul.menu li{
		margin: 0;
		padding: 0;
		float: none;
	}
	.musicp img{
		height: 200px;
		width: 230px;
		margin-top: 30%;
		margin-left: -30px;
	}
	.musicname p{
		margin-top: 30%;
		margin-left: -10%;
	}
	.musicname h4{
		margin-top: 1%;
		margin-left: -10%;
	}
	.down img{
		margin-left: -100px;
		margin-top: 10px;
	}
	.musicf img {
		display: none;
	}
	.music {
		margin-top: -10%;
	}
	.pesni p{
		display: none;
	}
	.player p{
		margin-left: 15%;
	}
	.button button{
		height: 30px;
		width: 100px;
		background: #38a602;
		border-radius: 50px;
		border-color: yellow;
	}
}

